# Solved exercises from 101 Panda Exercises for Data Analysis
### source: https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [98]:
import pandas as pd
import numpy as np

**1) Import pandas and check version**

*Solution*

In [74]:
import pandas as pd
print(pd.__version__)

1.0.1

**2) Create a series from a list, numpy array and dict**

In [64]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

*Solution*

In [76]:
my_series_list=pd.Series(mylist)
my_series_arr = pd.Series(myarr)
my_series_dict = pd.Series(mydict)

**3) Convert the series ser into a dataframe with its index as another column on the dataframe.**

In [77]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

*Solution*

In [80]:
# ser.to_frame().reset_index()

# Convert serie to dataframe
data = ser.to_frame()
# old indexs are added as a Index column, and a new sequential index is used
data = data.reset_index()

**4) Combine series ser1 and ser2 to form a dataframe**

In [81]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

*Solution*

In [82]:
# Sol1 Concantenate Axis = 1 concatenate along columns (axis 1)
df = pd.concat([ser1, ser2], axis=1)
# Sol2
df2 = pd.DataFrame({'col1': ser1, 'col2': ser2})

**5) Give a name to the series ser calling it ‘alphabets’**

In [83]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

*Solution*

In [84]:
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

**6) From ser1 remove items present in ser2.**

In [85]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

*Solution*

In [87]:
s1 = ser1[~ser1.isin(ser2)]

**7) Get all items of ser1 and ser2 (from 6) not common to both.**

*Solution*

In [88]:
s1 = ser1[~ser1.isin(ser2)]
s2 = ser2[~ser2.isin(ser1)]

pd.concat([s1, s2])

# Alternative

# Intersection
inte1 = pd.Series(np.intersect1d(ser1, ser2))

# Union
uni1 = pd.Series(np.union1d(ser1,ser2))

# Union - Intersection
uni1[~uni1.isin(inte1)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

**8) Compute the minimum, 25th percentile, median, 75th, and maximum of ser**

In [91]:
ser = pd.Series(np.random.normal(10, 5, 25))

*Solution*

In [92]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-2.788775  ,  5.29150454,  9.55490501, 12.08920702, 18.59615294])

**9) Calculte the frequency counts of each unique value ser**

In [93]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

*Solution*

In [43]:
ser.value_counts(sort=True, ascending=True)

e    1
f    2
g    2
c    2
h    5
b    5
a    6
d    7
dtype: int64

In [94]:
# Normalized freuency
ser.value_counts(normalize=True)

a    0.200000
c    0.200000
f    0.133333
h    0.133333
d    0.100000
e    0.100000
g    0.100000
b    0.033333
dtype: float64

**10) From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.**

*Solution*

In [97]:
ser.value_counts().index[:2]

Index(['a', 'c'], dtype='object')

In [58]:
ser[~ser.isin(ser.value_counts().index[:2])]="Other"